h1{
    font-size:22px;
    text-align: center;
  }
  #bakii{
    font-style: italic;
    text-decoration: none;
   
  }


  li.point{
    cursor: pointer;
  }
  a{
    text-decoration-line:none;
    color:#09eded;
    }
  #kur{
    border:solid 1.6px white;
    background:purple;
    width:460px; 
  }
  body{
    background-color: black;
    color:white;
   }
.yur {
  
  border:solid white;
  background:grey;
  width: 69px;
}
.myt{
  text-align:center;
  
}
@media (min-width: 993px){
#block1{
    
    max-width: 50%;
   
    
}
#block2{   
    
    max-width: 50%;
}
#omg{
    margin-top: 5%;
    display: inline-flex;
    align-content: center;
    align-self: stretch;
}
}